<template>
    <form class="login-container" @submit="submitHandler">
        <label>Email</label>
        <input type="text" v-model="email">
        <label>Password</label>
        <input type="text" v-model="password">
        <button class="login-btn" type="submit">Login</button>
        <h4>Don't have an account?</h4>
        <button class="create-btn" @click="goToCreateAccount">Create new Account</button>
    </form>
</template>


<script setup>
import {ref} from 'vue'
import {useRouter} from 'vue-router'
import {authAPI, userAPI} from '../APIs/Api'

const router = useRouter();

const email = ref('');
const password = ref('');

const accessToken = ref('');
const refreshToken = ref('');
const authenticateData = ref('');

const userInfo = ref({});


const submitHandler = async () => {

    const body = {email: email.value, password: password.value};

    authenticateData.value = await authAPI.authenticate(body);

    accessToken.value = authenticateData.value.accessToken;
    refreshToken.value = authenticateData.value.refreshToken;

    localStorage.setItem('isLoggedIn', JSON.stringify(true));
    localStorage.setItem('accessToken', JSON.stringify(accessToken.value));

    // Recuperare user dal token..
    userInfo.value = await userAPI.fetchUserByToken(accessToken.value);

    localStorage.setItem('userInfo', JSON.stringify(userInfo.value));
    window.dispatchEvent(new Event('loginStatusChanged'));

    router.push({path: '/#'})
};


const goToCreateAccount = () => {
    router.push({path: '/sign-up'})
}
    
</script>


<style scoped>

.login-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 20px auto;
    gap: 7px;
}

.submit-btn{
    background-color: rgb(8, 102, 255);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-top: 0px;
}

h3{
    margin: 0px;
    margin-top: 30px;
}

.create-btn{
    background-color: rgb(66, 183, 42);
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.login-btn{
    background-color: rgb(8, 102, 255);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 7px;
    margin-top: 7px;
}

h4{
    margin: 0px;
    align-self: center;
    margin-top: 15px;
}

</style>