<template>
    <form class="form-container" @submit="submitHandler">
        <label>First Name</label>
        <input type="text" v-model="firstName">
        <label>Last Name</label>
        <input type="text" v-model="lastName">
        <label>Email</label>
        <input type="text" v-model="email">
        <label>Password</label>
        <input type="text" v-model="password">
        <div class="admin-container">
            <h4>Admin? </h4>
            <input type="checkbox" v-model="isSelected">
        </div>
        <button type="submit" class="submit-btn">Create new Account</button>
    </form>
</template>


<script setup>
import {ref} from 'vue'
import {useRouter} from 'vue-router';
import {authAPI, userAPI} from '../APIs/Api';

const router = useRouter();

const email = ref('');
const password = ref('');
const firstName = ref('');
const lastName = ref('');
const isSelected = ref('');

const accessToken = ref('');
const refreshToken = ref('');

const userInfo = ref({});


const submitHandler = async () => {
    
    const role = isSelected.value === true ? 'ADMIN' : 'USER';
    const body = {email: email.value, password: password.value,
        firstName: firstName.value, lastName: lastName.value, role: role};
        
    // Sign up user
    const userRegister = await authAPI.register(body);
        
    accessToken.value = userRegister.accessToken;
    refreshToken.value = userRegister.refreshToken;
        
    localStorage.setItem('isLoggedIn', JSON.stringify(true))
    localStorage.setItem('accessToken', JSON.stringify(accessToken.value));
        
    // Recuperare user dal token..
        
    userInfo.value = await userAPI.fetchUserByToken(accessToken.value);
    localStorage.setItem('userInfo', JSON.stringify(userInfo.value));
        
        
    window.dispatchEvent(new Event('loginStatusChanged'));
        
    router.push({path: '/#'})
}
    
</script>


<style scoped>

.form-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 20px auto;
    gap: 7px;
}

.submit-btn{
    background-color: rgb(8, 102, 255);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-top: 0px;
}

h3{
    margin: 0px;
    margin-top: 30px;
}

.admin-container{
    display: flex;
    margin: 0px;
    align-items: center;
    margin-top: 10px;
}

.admin-container h4{
    margin: 0px;
    align-self: center;
}

</style>