<template>

    <ul class="task-list" v-if="tasks.length>0">
        <li v-for="task in tasks" :key="task.id" class="task-item">  
            <span>{{task.taskName}}</span>
            <span class="task-status" v-if="!selectedUser">{{ task.completed ? "Fatto" : "Da fare"}}</span>
            <button @click.prevent="updateStatus(task.id)" v-if="!selectedUser">Update</button>
        </li>
    </ul>
    <h3 v-else>Non hai nessun task assegnato!</h3>
    <h4>{{ completedTasks }} completati</h4>
    
</template>


<script setup>
import { computed, onMounted, ref } from "vue";
import {useRoute} from 'vue-router';
import { taskAPI } from '../APIs/Api';

const route = useRoute();

const tasks = ref([]);

// solo se sono admin e clicco su lista di users
const selectedUser = route.query.selectedUser;

let userId = JSON.parse(localStorage.getItem('userInfo')).id;

const accessToken = JSON.parse(localStorage.getItem('accessToken'));



onMounted(async () => {

    if(selectedUser !== undefined){
        userId = selectedUser;
    }
    
    try{
        const response = await taskAPI.fetchTasksByUserId(accessToken, userId)
        const tasksByUserIdData = await response.json();
        tasks.value = tasksByUserIdData;
    }
    catch (error) {
        console.error('Si è verificato un errore:', error);
    }
});





const updateStatus = (taskIdParam) =>{
    
    const taskIndex = tasks.value.findIndex(task => task.id === taskIdParam);
    const updatedTask = {...tasks.value[taskIndex]}
    updatedTask.completed = !updatedTask.completed;
    
    taskAPI.updateTask(updatedTask, accessToken);
    
    tasks.value.splice(taskIndex, 1, updatedTask);
} 



const completedTasks = computed ( () =>{
    return tasks.value.filter(task => task.completed).length;
})

</script>



<style scoped>

.task-list{
    margin: 0;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}


.task-item{
    list-style: none;
    background-color: rgb(201, 187, 187);
    border: 1px solid black;
    margin-bottom: 10px;
    cursor: pointer;
}

.task-status{
    margin-left: 7px;
    color: white;
}

.admin-container{
    display: flex;
    justify-content: space-around;
}





</style>