<template>
    <h3>Create Task working</h3>

    <form @submit.prevent="postCreateTask" class="form-container">
        <label for="task">Create Task</label>
        <input type="text" id="task" v-model="newTask">
        <label for="userSelected">Assign task to</label>
        <select id="userSelected" v-model="selectedUser">
            <option v-for="user in users" :key="user.id" :value="user.id">{{ user.firstName }} {{ user.lastName }} </option>
        </select>
        <button type="submit">Crea</button>
    </form>

</template>


<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import {userAPI, taskAPI} from '../APIs/Api'


const router = useRouter();

const users = ref([]);
const newTask = ref('');
const selectedUser = ref('');

const accessToken = JSON.parse(localStorage.getItem('accessToken'));


onMounted( async () => {
    const response = await userAPI.fetchAllUsers(accessToken);
    users.value = await response.json();
});

const postCreateTask = async () => {
    
    const body =  {taskName: newTask.value, userId: selectedUser.value};
    taskAPI.createTask(body, accessToken);

    newTask.value = '';
    router.push({path: "/users"});
}

</script>


<style scoped>

.form-container{

    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 20px auto;
    gap: 20px;
}


</style>