<template>

    <div class="create-container">
        <h3>Create a new task</h3>
        <button @click="goToCreate">Create</button>
    </div>
    <ul class="task-list">
        <li v-for="(task,index) in tasks" :key="task.id" class="task-item">  
            <span class="left-span">{{task.taskName}} {{ task.id }}</span>
            <span class="right-span"><button @click.prevent="deleteTask(task.id, index)">Delete</button></span>
        </li>
    </ul>
    <p 
        v-if="currentIndex >= 0" 
        :class="{'message-deleted-task' : true, 'red-text': messageTaskAlreadyDeleted[currentIndex].includes('assigned'),
                                                'green-text': messageTaskAlreadyDeleted[currentIndex].includes('properly')}"
        >{{ messageTaskAlreadyDeleted[currentIndex] }}</p>

</template>


<script setup>
import { taskAPI } from '../APIs/Api'

import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";

const accessToken = JSON.parse(localStorage.getItem('accessToken'));


const router = useRouter();

const tasks = ref([]);
const messageTaskAlreadyDeleted = ref([]);
const currentIndex = ref(-1);

onMounted(async () => {
    tasks.value = await taskAPI.fetchAllTasks(accessToken);
    messageTaskAlreadyDeleted.value = Array(tasks.value.length).fill('');
});


const deleteTask = async (taskId, index) =>{

    currentIndex.value = index;

    const response = await taskAPI.deleteTask(taskId, accessToken);

    if(response.status === 200){
        tasks.value = tasks.value.filter(task => task.id !== taskId);
        messageTaskAlreadyDeleted.value[index] = 'Task deleted properly!';
    }
    else if(response.status === 409){
        messageTaskAlreadyDeleted.value[index] = 'Task already assigned!';
    }
}


const goToCreate = () => {
    router.push({path: "/tasks/create"});
}

</script>



<style>

.task-list{
    margin: 0;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}


.task-item{
    list-style: none;
    background-color: rgb(201, 187, 187);
    border: 1px solid black;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.left-span{
    margin-left: 5px;
}


.message-deleted-task{
    font-weight: bold;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.create-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.create-container button, h3{
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

</style>