<template>
        <ul class="user-list">
            <li v-for="user in users" :key="user.id" class="user-item" @click.prevent="goToTasksByUserId(user.id)">  
                <span>{{user.firstName}} {{ user.lastName }} {{ user.id }}</span>
                <span v-if="user.role === 'ADMIN' ? true : false" class="user-admin" >(admin)</span>
            </li>
        </ul>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";

import {userAPI} from '../APIs/Api'


const users = ref([]);
const router = useRouter();

const accessToken = JSON.parse(localStorage.getItem('accessToken'));

onMounted( async () => {

    console.log("dentro on mounted di users...")
    
    const data = await userAPI.fetchAllUsers(accessToken);
    if(data.status !== 403){
        users.value = await data.json();
    } else{
        console.log("Non hai accesso...");
    }
    
});


const goToTasksByUserId = (userId) =>{
    let selectedUser = userId;
    router.push({path: `users/TasksByUser`, query: {selectedUser: selectedUser}})
}

</script>





<style scoped> 

.user-list{
    margin: 0;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}


.user-item{
    list-style: none;
    background-color: rgb(201, 187, 187);
    border: 1px solid black;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-admin{
    margin-left: 5px;
    font-size: small;
    color: rgb(123, 20, 20);
}


</style>