<template>
    <nav class="nav-container">
        <a href="#" class="my-vue">My Vue</a>
        <div class="links-container">
            <li v-if="isLoggedIn && !isAdmin">
                <router-link
                to="/users/TasksByUser"
                class="active"
                > My Tasks
                </router-link>
            </li>
            <li v-if="isLoggedIn && isAdmin">
                <router-link
                to="/users"
                class="active"
                > Users
                </router-link>
            </li>
            <li v-if="isLoggedIn && isAdmin">
                <router-link
                to="/tasks"
                class="active"
                > Tasks
                </router-link>
            </li>
            <li v-if="!isLoggedIn">
                <router-link
                to="/login"
                class="active"
                > Login
                </router-link>
            </li>
            <li v-if="isLoggedIn" @click="handleLogout" class="logout-btn">
                Logout
            </li>
        </div>
    </nav>
</template>



<script setup>
import {ref, onMounted} from 'vue';
import {useRouter} from 'vue-router';
import { authAPI } from '../APIs/Api';

const router = useRouter();

const isLoggedIn = ref(false);
const isAdmin = ref(false);

onMounted(() => {
    updateLoginStatus();
});


const updateLoginStatus = () => {
    isLoggedIn.value = JSON.parse(localStorage.getItem('isLoggedIn')) === true ? true : false;
    if(JSON.parse(localStorage.getItem('userInfo'))){
        isAdmin.value = JSON.parse(localStorage.getItem('userInfo')).role === 'ADMIN' ? true : false;
    }
    
}

const handleLogout = async () => {
    await authAPI.logout();

    localStorage.removeItem('isLoggedIn');
    localStorage.removeItem('userInfo');
    localStorage.removeItem('accessToken');
    updateLoginStatus();
    router.push({path: '/#/'})

}

window.addEventListener('loginStatusChanged', updateLoginStatus);

</script>




<style>

.my-vue{
    text-decoration: none;
    color: white;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(69, 68, 68);
    padding: 10px;
    font-weight: bold;
}

.links-container{
    display: flex;
}

.links-container li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.active{
    text-decoration: none;
    color: white;
}

.logout-btn{
    text-decoration: none;
    color: white;
    cursor: pointer;
}




</style>