<template>
  <Navbar></Navbar>
  <router-view></router-view>

  <div v-if="isHomePage" >
    <h3>Reactive Todo - List</h3>
  </div>

</template>

<script setup>
import { useRoute } from 'vue-router';
import Navbar from './components/Navbar.vue'
import { computed } from 'vue';


const route = useRoute();

const isHomePage = computed(() =>{

  const path = route.path;
  return path === '/' || path === '/#/';
})



</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body{
  background-color: #dfe8f0;
}



</style>
